<div class="row">
    <div class="col-md-2"><a href="#">Students</a></div>
    <div class="col-md-2"><a href="#">Mentors</a></div>
    <div class="col-md-2"><a href="#">Admins</a></div>
    <div class="col-md-2 col-md-push-2"><a href="#">Assignments</a></div>
    <div class="col-md-2 col-md-push-2"><a href="#">Tests</a></div>
</div>
